<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<rapid_web_sync>
			<general>
				<enable>1</enable>
			</general>
			<defaults>
				<attribute_set_id>4</attribute_set_id>
				<type>simple</type>
				<status>1</status>
				<visibility>4</visibility>
				<news_to_date>30</news_to_date>
			</defaults>
			<attributes>
				<allow_new_values>1</allow_new_values>
			</attributes>
			<categories>
				<category_delimeter>;;</category_delimeter>
				<category_tree_delimeter>|</category_tree_delimeter>
				<urlending>.html</urlending>
			</categories>
			<images>
				<source_directory>var/import</source_directory>
				<media_gallery_delimeter>|</media_gallery_delimeter>
			</images>
			<inventory>
				<auto_set_manage_stock>1</auto_set_manage_stock>
				<auto_set_is_in_stock>1</auto_set_is_in_stock>
			</inventory>
			<post_import>
				<reindex_enable>1</reindex_enable>
				<reindex_list>catalog_category_product,catalog_product_category,catalog_product_attribute,cataloginventory_stock,catalog_product_price,catalogsearch_fulltext</reindex_list>
			</post_import>
		</rapid_web_sync>
	</default>
</config>
