<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="ECInternet\RAPIDWebSync\Api\BatchproductsInterface"
	            type="ECInternet\RAPIDWebSync\Model\Batchproducts" />
	<preference for="ECInternet\RAPIDWebSync\Api\BulkOperationInterface"
	            type="ECInternet\RAPIDWebSync\Model\BulkOperation" />
	<preference for="ECInternet\RAPIDWebSync\Api\LogRepositoryInterface"
	            type="ECInternet\RAPIDWebSync\Model\LogRepository" />
	<preference for="ECInternet\RAPIDWebSync\Api\Data\LogInterface"
	            type="ECInternet\RAPIDWebSync\Model\Data\Log" />

	<!-- Use logger -->
	<type name="ECInternet\Base\Plugin\Magento\Sales\Api\OrderRepositoryInterfacePlugin">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Controller\Adminhtml\Export\Download">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Attribute">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Category">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Configurable">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Image">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Indexer">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Link">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\Rewrite">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\StoreWebsite">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Helper\TierPrice">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Model\Batchproducts">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Model\BulkOperation">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Model\Db">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Model\Import\ProductImporter">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Model\ProductDataProcessorPool">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Processor\Inventory">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>
	<type name="ECInternet\RAPIDWebSync\Service\ImageFile">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetRAPIDWebSyncLogger</argument>
		</arguments>
	</type>

	<!-- Custom Logger - Must be injected into each class which needs it -->
	<virtualType name="ECInternetRAPIDWebSyncLogger" type="Magento\Framework\Logger\Monolog">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="info" xsi:type="object">ECInternet\RAPIDWebSync\Logger\Handler</item>
			</argument>
		</arguments>
	</virtualType>

	<!-- Define grid data sources and matching Virtual Types -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="ecinternet_rapidwebsync_log_listing_data_source" xsi:type="string">ECInternet\RAPIDWebSync\Model\ResourceModel\Log\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="ECInternet\RAPIDWebSync\Model\ResourceModel\Log\Grid\Collection"
	             type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ecinternet_rapidwebsync_log</argument>
			<argument name="resourceModel" xsi:type="string">ECInternet\RAPIDWebSync\Model\ResourceModel\Log</argument>
		</arguments>
	</virtualType>
</config>
